.main {
    overflow: hidden;
}

.header {
    height: var(--header-height);
    background-image: linear-gradient(0, #fe6433, #f53e2d);
}

.header__navbar {
    display: flex;
    justify-content: space-between;
}

.header__navbar-list {
    list-style: none;
    padding-left: 0;
    margin-top: 4px 0 0 0;
    display: flex;
}
.header__navbar-item {
    margin: 0 8px;
    position: relative;
    min-height: 26px;
}

.header__navbar-item:hover .header__navbar-item-lang-select {
    display: block;
}


.header__navbar-item-lang-select {
    position: absolute;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 132px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    z-index: 1;
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;

}

.header__navbar-item-lang-select::before {
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    right: 0;
    width: 1000%;
    height: 16px;
    z-index: -1;
}

.header__navbar-item-lang-select::after {
    content: "";
    border-style: solid;
    border-width: 20px 21px;
    border-color:  transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -29px;
}

.header__navbar-item-lang-select-item {
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.header__navbar-item-lang-select-item:hover {
    color: var(--primary-color);
    background-color: #fafafa;
}

.header__navbar-item-lang-select-item i {
    font-size: 1.4rem;
    color: var(--primary-color);
    margin-left:  14px;
    display: none;
}

.header__navbar-item-lang-select-item--active i {
    display: inline-block;
    right: 0;
}

.header__navbar-user {
    display: flex;
    justify-items: center;
    position: relative;
}

.header__nav-bar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.header__nav-bar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 4px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 2px #e0e0e0;
    display: none;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    
}

.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}

.header__navbar-user-menu::before {
    content: "";
    border-style: solid;
    border-width: 20px 21px;
    border-color:  transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -29px;
    z-index: -1;
}

.header__navbar-user-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: -14px;
    right: 0;
    width: 80%;
    height: 16px;
}


.header__navbar-user-item a {
    color: var(--text-color);
    font-size: 1.4rem;
    text-decoration: none;
    padding: 8px 16px;
    display: block;
}

.header__navbar-user-item a:hover {
    background-color: #fafafa;
}

.header__navbar-user-item a:first-child {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.header__navbar-user-item a:last-child {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0, 0, 0.05);
}




.header__navbar-item--has-qr:hover .header__qr {
    display: block;
    z-index: 1;
    box-shadow: 0 1px 5px #e0e0e0;

}


.header__navbar-item--has-notify:hover .header__notify {
    display: block;
}

.header__navbar-item,
.header__navbar-item-seller,
.header__navbar-item-link {
    display: inline-block;
    font-size: 1.3rem;
    color: var(--white-color);
    text-decoration: none;
    font-weight: 300;
}

.header__navbar-icon {
    padding-right: 4px;
    font-size: 1.3rem;
}

.header__navbar-item:hover,
.header__navbar-item-link:hover,
.header__navbar-item-seller:hover,
.header__navbar-icon-link:hover {
    color: rgba(255, 255, 255, 0.7);
    cursor: pointer;
}

.header__navbar-item,
.header__navbar-item-seller,
.header__navbar-item-link,
.header__navbar-icon-link {
    display: flex;
    align-items: center;
}

.header__navbar-item--strong {
    font-weight: 400;
}

.header__navbar-item-seller--separate::after {
    content: "";
    display: block;
    position: relative;
    width: 1px;
    height: 14px;
    background-color: #FB9086;
    right: -4px;
    top: 50%;
    transform: translateY(calc(50% - 20px));
    margin: 0 4px;
}

.header__navbar-item--separate::after {
    content: "";
    display: block;
    position: absolute;
    width: 1px;
    height: 14px;
    background-color: #FB9086;
    right: -9px;
    top: 50%;
    transform: translateY(-50%);
}

.header__navbar-icon-link:nth-child(2) {
    margin-right: 1px;
}

.header__navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
    margin: 0 8px;
    font-size: 1.8rem;
}
.header__navbar-title--no-pointer {
    cursor: text;
    color: var(--white-color);
}


/* header qr code */
.header__qr {
    width: 186px;
    position: absolute;
    background-color: var(--white-color);
    top: 118%;
    padding: 8px;
    border-radius: 2px;
    display: none;
    animation: fadeIn ease-in 0.5s;
}

.header__qr::before {
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 20px;
    left: 0;
    top: -16px;
}

.header__qr-img {
    width: 100%;

}

.header__qr-apps {
    display: flex;
    justify-content: space-between;
}
.header__qr-link:nth-child(1) {
    margin-left: 11px;
}

.header__qr-link:nth-child(2) {
    margin-right: 11px;
}

.header__qr-download-img {
    height: 15px;

}

/* header notify */

.header__notify {
    position: absolute;
    z-index: 1;
    top: 118%;
    right: 0;
    width: 404px;
    border-radius: 2px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--white-color);
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
    display: none;
}

.header__notify::before {
    content: "";
    border-style: solid;
    border-width: 20px 26px;
    border-color:  transparent transparent var(--white-color) transparent;
    position: absolute;
    right: 0;
    top: -28px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    right: 0;
    top: -20px;
    width: 120px;
    height: 25px;
}


@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    
}

.header__notify-header h3 {
    color: #999;
    margin: 0 0 0 12px;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 40px;
}

.header__notify-list {
    padding-left: 0;

}

.header__notify-item {
    display: flex;

}

.header__notify-item:hover {
    background-color: #f7f7f7;
}

.header__notify-item--viewed {
    background-color: rgba(238, 75, 43, 0.08);

}

.header__notify-link {
    display: flex;
    padding: 12px;
    text-decoration: none;
}

.header__notify-img {
    width: 60px;
    object-fit: contain;
    
}

.header__notify-info {
    margin-left: 12px;
}

.header__notify-name {
    color: var(--text-color);
    line-height: 1.8rem;
    display: block;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    color: #999;
    line-height: 1.4rem;
    margin-top: 4px;
}

.header__notify-footer {
    display: flex;
}

.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 0;
    width: 100%;
    text-align: center;
    margin: auto;
    font-size: 1.4rem;
    font-weight: 400;
}

.header__notify-footer-btn:hover {
    background-color: #f7f7f7;
}

/* auth modal */

.auth-form {
    width: 500px;
    background-color: var(--white-color);
    border-radius: 2px;
    overflow: hidden;
}

.auth-form__container {
    padding: 0 32px;
}

.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}

.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);
}

.auth-form__switch-btn {
    font-size: 1.6rem;
    color: var(--primary-color);
    font-weight: 400;
    cursor: pointer;
}

/* .auth-form__form {
    
} */

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid rgba(0, 0, 0, 0.5);
    border-radius: 2px;
    outline: none;
}

.auth-form__input:focus {
    border-color: black;
}

.auth-form__aside {
    margin-top: 18px;
}

.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.8rem;
    text-align: center;
    padding: 0 12px;
}

.auth-form__text-link {
    text-decoration: none;
    color: var(--primary-color);
}
.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
}

.auth-form__control-back {
    margin-right: 8px;
}

.auth-form__socials {
    background-color: #F5F5F5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}

.auth-form__socials-icon {
    font-size: 1.8rem;
    /* padding-left: 8px; */
}

.auth-form__socials--facebook {
    color: var(--white-color) !important;
    background-color: #3A5A98;
}


.auth-form__socials--facebook
.auth-form__socials-icon {
    color: var(--white-color);
    
}

.auth-form__socials-title {
    margin: 0 36px;
}

.auth-form__socials--google {
    background-color: var(--white-color);
}

.auth-form__help {
    display: flex;
    justify-content: flex-end;
}
.auth-form__help-link {
    text-decoration: none;
    font-size: 1.4rem;
    color: #939393;
}

.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 18px;
    margin: -1px 16px 0;
}

.auth-form__help-forgot {
    color: var(--primary-color);
}


/* header with search */

.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
    margin: 0 8px;
}

.header__mobile-search {
    padding: 0 12px;
    display: none;
}

.header__mobile-search-icon {
    font-size: 2.6rem;
    color: var(--white-color);
}

.header__logo {
    width: 200px;
}

.header__logo-link {
    text-decoration: none;
    color: transparent;
    display: block;
    line-height: 0;
}

.header__logo-img {
    width: 150px;
    color: var(--white-color);
}
.mobile__cart-checkbox:checked ~ .header__cart,
.header__search-checkbox:checked ~ .header__search {
    display: flex;
}

.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
}

.header__cart {
    width: 150px;
    text-align: center;
    /* position: relative; */
}

.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 12px;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.header__cart-wrap:hover .header__cart-list {
    display: block;
    z-index: 1;
}

.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
    margin-top: 6px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 6px);
    right: 0px;
    background-color: #FDFDFD;
    width: 380px;
    border-radius: 2px;
    box-shadow: 0 1px 3.125rem rgba(0, 0, 0, 0.2);
    display: none;
    animation: fadeIn ease-in .2s;
    cursor: default;
    transform-origin: calc(100% - 32px) top;
    animation: headerNotifyGrowth ease-in 0.2s;
    -webkit-animation: headerNotifyGrowth ease-in 0.2s;
    -ms-zoom-animation: headerNotifyGrowth ease-in 0.2s;
    -o-animation: headerNotifyGrowth ease-in 0.2s;
    -moz-animation: headerNotifyGrowth ease-in 0.2s;
    will-change: opacity, transform;
}

.header__cart-heading {
    text-align: left;
    margin: 8px 0 8px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}


.header__cart-list-item {
    padding: 0;
    list-style: none;
    max-height: 56vh;
    overflow-y: auto;
}

.header__cart-item {
    display: flex;
    align-items: center;
}

.header__cart-item:hover {
    background-color: #F8F8F8;
}

.header__cart-img {
    width: 46px;
    height: 46px;
    margin: 12px;
    border: 1px solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;

}

.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 8px 0;
    max-width: 190px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.header__cart-item-price {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--primary-color);
}

.header__cart-item-cancel {
    font-size: 0.9rem;
    margin: 0 4px;
    color: #757575;
}

.header__cart-item-qnt {
    font-size: 1.2rem;
    color: #757575;

}

.header__cart-item-body {
    display: flex;
    justify-content: space-between;
}

.header__cart-item-desc {
    color: #757575;
    font-size: 1.26rem;
    font-weight: 300;

}

.header__cart-item-delete {
    color: var(--text-color);
    font-size: 1.3rem;
}

.header__cart-item-delete:hover {
    color: var(--primary-color);
    cursor: pointer;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}

.header__cart-view-cart:hover {
    background-color: #F05D41;
}



.header__cart-list::after {
    cursor: pointer;
    content: "";
    position: absolute;
    right: -0.2px;
    top: -30px;
    border-width: 22px 24px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__cart-no-cart-img {
    width: 54%;
    display: none;
}

.header__cart-list-no-cart-msg {
    display: none;
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
}

.header__cart-list--no-cart {
    padding: 24px 0;
}

.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-msg {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.header__cart-notice {
    top: -4px;
    right: -2px;
    position: absolute;
    padding: 1px 5px;
    background-color: var(--white-color);
    color: var(--primary-color);
    font-size: 1.4rem;
    line-height: 1.2rem;
    border-radius: 14px;
    border: 2px solid #EE4D2D;
}

.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}

.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 0 16px;
    border-radius: 2px;

}

.header__search-select {
    border-left: 1px solid #E8E8E8;
    padding-left: 16px;
    position: relative;
    cursor: pointer;
}

.header__search-select-label {
    font-size: 1.4rem;
    color: var(--text-color);
}

.header__search-select-label-icon {
    font-size: 1.4rem;
    color: #4A4A4A;
    margin: 0 16px 0 8px;
    position: relative;
    top: 1px;
}

.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 36px;
    border-radius: 2px;
    margin-right: 3px;
    width: 60px;
    cursor: pointer;

}

.header__search-btn:hover {
    background-color: #fb6445;
}

.header__search-btn-icon {
    font-size: 1.4rem;
    color: var(--white-color);
}

.header__search-select:hover .header__search-option {
    display: block;
}

.header__search-option {
    position: absolute;
    right: 0;
    top: calc(100% - 1px);
    list-style: none;
    width: 130px;
    box-shadow: 0 1px 2px #e0e0e0;
    padding-left: 0;
    border-radius: 2px;
    display: none;
    margin-top: 15px;
    animation: fadeIn ease-in .2s;
    z-index: 1;
}

.header__search-option::after {
    content: "";
    display: block;
    width: 100%;
    height: 20px;
    top: -14px;
    left: 0;
    position: absolute;
}


.header__search-option-item {
    background-color: var(--white-color);
    border-radius: 2px;
    padding: 8px 8px;
    
}

.header__search-option-item:hover {
    background-color: #D3D3D3;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 10px;
}

.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left:  12px;
    display: none;
}
.header__search-option-item--active i {
    display: inline-block;
}


.header__search-input:focus ~ .header__search-history {
    display: block;

}

/* header sort bar */

.header__sort-bar {
    margin: 0;
    padding-left: 0;
    position: fixed;
    top: var(--header-height);
    left: 0;
    right: 0;
    height: var(--header-sort-bar-height);
    background-color: var(--white-color);
    list-style: none;
    border-top: 1px solid #e5e5e5;
    display: none;
}

.header__sort-item {
    flex: 1;
}

.header__sort-link {
    text-decoration: none;
    color: (var(--text-color));
    font-size: 1.4rem;
    display: block;
    height: 100%;
    line-height: var(--header-sort-bar-height);
    text-align: center;
    position: relative;
}

.header__sort-link::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    height: 60%;
    border-left: 1px solid #e5e5e5;
    transform: translateY(-50%);
}

.header__sort-item--active .header__sort-link {
    color: var(--primary-color);
}

.header__sort-item:first-child .header__sort-link::before {
    display: none;
}
/* search history */
.header__search-history {
    position: absolute;
    left: 0;
    top: calc(100% + 2px);
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px #e0e0e0;
    display: none;
    overflow: hidden;
    z-index: 1;
}

.header__search-history-heading {
    margin: 6px 12px;
    font-size: 1.5rem;
    color: #999;
    font-weight: 400;
}

.header__search-history-list {
    padding-left: 0;
    list-style: none;
    margin: 6px 0 0;
}

.header__search-history-item {
    height: 38px;
    padding: 0 12px;
}


.header__search-history-item a {
    text-decoration: none;
    color: var(--text-color);
    line-height: 38px;
    font-size: 1.4rem;
    display: block;
}

.header__search-history-item:hover {
    background-color: #fafafa;
}

/* app container */
.app__container {
    background-color: #F5F5F5;
}

.app__content {
    padding-top: 30px;
}

.category {
    background-color: var(--white-color);
    border-radius: 2px;
}

.category__heading {
    font-size: 1.7rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
    margin-top: 0;
}
.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -1px;
}

.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 10px;
}


.category-item__link {
    position: relative;
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 12px 16px;
    display: block;
    transition: right linear 0.2s;
    right: 0;
}

.category-item__link:hover {
    color: var(--primary-color);
    right: -4px;
}

.category-item--active .category-item__link {
    color: var(--primary-color);
}

.category-item--active .category-item__link::before {
    content: "";
    top: 50%;
    left: 6px;
    position: absolute;
    border: 5px solid;
    transform: translateY(calc(50% - 10px));
    border-color: transparent transparent transparent var(--primary-color);
}

/* mobile category */
.mobile-category {
    display: none;
}

.mobile-category__list {
    display: flex;
    padding-left: 0;
    max-width: 100%;
    overflow-x: auto;
}


.mobile-category__list::-webkit-scrollbar {
    display: none;
}

.mobile-category__item {
    list-style: none;
    flex-shrink: 0;
    margin-right: 10px;
}

.mobile-category__item:nth-of-type(3n + 1) .mobile-category__link {
    background-color: #87afd8;
}

.mobile-category__item:nth-of-type(3n + 2) .mobile-category__link {
    background-color: #76C9BD;
}

.mobile-category__item:nth-of-type(3n + 3) .mobile-category__link {
    background-color: #88fc81;
}

.mobile-category__link {
    --line-height: 2rem;
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.4rem;
    line-height: var(--line-height);
    text-align: center;
    width: 110px;
    height: calc(var(--line-height) * 2);
    overflow: hidden;
    display: block;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    border-radius: 5px;
    font-weight: 300;
    user-select: none;
    -webkit-user-select: none;
    padding: 10px  6px;
}

/* home sort + filter */

.home-filter {
    background-color: rgba(0, 0, 0, 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}

.home-filter__label {
    font-size: 1.4rem;
    color: #555;
    margin-right: 16px;

}

.home-filter__btn {
    min-width: 90px !important;
    margin-right: 12px;
}

.home-filter__page {
    display: flex;
    align-items: center;
    margin-left: auto;
    
}

.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}

.home-filter__page-current {
    color: var(--primary-color);
}

.home-filter__page-control {
    border-radius: 2px;
    overflow: hidden;
    display: flex;
    width: 72px;
    height: 30px;
}

.home-filter__page-btn {
    flex: 1;
    background-color: var(--white-color);
    display: flex;
    text-decoration: none;
}

.home-filter__page-btn--disabled {
    background-color: #f9f9f9;
    cursor: default;
}

.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}

.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}

.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}

/* product item */

.home-product {
    margin-bottom: 10px;
}

.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color);
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    transition: transform linear 0.1s;
    will-change: transform;
}

.home-product-item:hover {
    box-shadow:  0 1px 20px 0 rgba(0, 0, 0, 0.05);
    transform: translateY(-1px);
}

.home-product-item__img {
    padding-top: 100%;
    background-size: contain;
    background-position: center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.home-product-item__name {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px;
    height: 3.6rem;
    overflow: hidden;
    display: block;
    display:  -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}

.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}

.home-product-item__price-now {
    font-size: 1.6rem;
    margin-left: 10px;
    color: var(--primary-color);
}

.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 8px 10px 0;
}

.home-product-item__like {
    font-size: 1.3rem;
    
}

i.home-product-item__like-icon-fill {
    color: #F63D3D;
    display: none;
}

.home-product-item__like--liked .home-product-item__like-icon-fill {
    display: inline-block;
}

.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}

.home-product-item__rating {
    font-size: 1rem;
    transform: scale(0.9);
    transform-origin: right;
    color: rgba(189, 189, 184, 0.459);
    margin: -1px 0 0 auto;
}

.home-product-item__star--gold {
    color: var(--star-gold-color);
}

.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}

.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 3px 10px 0;
}

.home-product-item__origin-name {
    color: rgba(0, 0, 0, 0.4);
    margin-top: 4px;
    font-size: 1.4rem;
    font-weight: 300;
}

.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}


.home-product-item__favorite::after {
    content: "";
    position: absolute;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    left: 0;
    bottom: -3px;
    filter: brightness(60%);
}

.home-product-item__favorite span {
    color: var(--white-color);
}

.home-product-item__favorite i {
    color: var(--white-color);
    font-size: 0.8rem;
    margin: 0 2px 0 6px;
}

.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 36px;
    background-color: rgb(255, 216, 64, 0.94);
    text-align: center;
    border-top-right-radius: 2px;
}

.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -5px;
    border-width: 0 20px 5px;
    border-style: solid;
    color: rgb(255, 216, 64, 0.94);
    border-color: transparent currentColor transparent currentColor;
}

.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 500;
    font-size: 1.3rem;
    line-height: 1.3rem;
    position: relative;
    top: 3px;
}

.home-product-item__sale-off-label {
    color: var(--white-color);
    top: 4px;
    font-weight: 450;
    font-size: 1.4rem;
    line-height: 1.4rem;
    position: relative;
}

.home-product__pagination {
    margin: 48px 0 32px 0;
    padding-left: 0;
}


.footer {
    border-top: 3px solid var(--primary-color);
    padding-top: 16px;
    background-color: var(--white-color);
}

.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);
}

.footer-list {
    padding-left: 0;
    list-style: none;
}

.footer-item__link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    display: flex;
    align-items: center;
    padding: 4px 0;
}

.footer-item__link:hover {
    color: var(--primary-color);
}

.footer-item__icon {
    font-size: 1.6rem;
    margin: -1px 8px 0 0;
}

.footer__download {
    display: flex;
}

.footer__download-qr {

    width: 80px;
    height: 80px;
    border: 1px solid var(--border-color);
}

.footer__download-apps {
    flex: 1;
    margin-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__download-apps-img {
    height: 18px;
}

.footer__bottom {
    background-color: #F5F5F5;
    margin-top: 32px;
    padding: 12px 0;
}

.footer__text {
    margin: 10px;
    font-size: 1.2rem;
    text-align: center;
    color: #737373;
}
