* {
    box-sizing: border-box;
}
 html, body {
     padding: 0;
     margin: o;
     font-size: 14px;
     font-family: Arial, Helvetica, sans-serif;
 }
body {
    background-color: #ccc;
}


/* Navbar */

.nav {
    min-height: 42px;
    background-color: #ef5122;
    display: flex;
    justify-content: space-between;
}

.nav-list {
    padding-left: 0;
    margin: auto 16px;
}

.nav-item {
    color: #fff;
    list-style: none;
    margin: 0 8px;
    display: inline-block;
}

/* form */
.form-container {
    max-width: 720px;
    padding: 32px;
    margin: 36px auto 0 auto;
    background-color: #fff;
}

.form-row {
    padding: 8px 0;
    display: flex;
}

.form-lable {
    min-width: 90px;
}

.form-input {
    flex: 1;

}

/* column layout */

.column-layout {
    margin-top: 36px;
    padding: 12px 0;
    display: flex;
    background-color: #fff;
}
.column-item {
    padding: 0 16px;

}

.main-column {
    flex: 3;    
}

.sidebar-one {
    flex: 1;
}
.sidebar-two {
    flex: 1;
}

/* feature layout */

.feature-layout {
    display: flex;
    margin-top: 36px;
    justify-content: space-evenly;
}

.feature-item {
    flex-basis: 30%;
    margin-top: 16px;
    padding: 12px 16px;
}

.feature-item:nth-child(1) {
    background-color: rgb(192, 227, 222);
}

.feature-item:nth-child(2) {
    background-color: rgb(227, 200, 192);
}

.feature-item:nth-child(3) {
    background-color: rgb(226, 192, 227);
}

.warp-layout {
    display: flex;
    background-color: #fff;
    margin-top: 36px;
    padding: 12px 0 36px 0;
    justify-content: space-around;
    flex-wrap: wrap;
}

.warp-layout-item {
    width: 148px;
    height: 90px;
    color: #fff;
    background-color: #ef5122;
    text-align: center;
    line-height: 90px;
    font-size: 48px;
    font-weight: 700;
    margin-top: 20px;

}

/* center layout */
.center-layout {
    background-color: rgb(192, 227, 194);
    margin: 36px auto 0 auto;
    padding: 32px 0;
    max-width: 640px;
    height: 360px;
    display: flex;
}
.center-layout-item {
    font-size: 42px;
    font-weight: 700;
    margin: auto;
}